.AddsOnbutton {
    display: flex;
    justify-content: space-between;
  }
  .AddsOnbutton a {
    text-decoration: none;
    color: hsl(231, 11%, 63%);
    font-weight: bolder;
  }
  .AddsOnbutton button {
    background-color: hsl(213, 96%, 18%);
    border-radius: 5px;
    padding: 10px;
    border: none;
  }
  .AddsOnbutton button a {
    text-decoration: none;
    padding: 1rem;
    color: hsl(0, 0%, 100%);
  }