.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 5rem;
  background-color: hsl(206, 94%, 87%);
}
.container {
  display: flex;
  gap: 4rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 1rem;
  border-radius: 0.7rem;
  min-height: 60vh;
  background-color: hsl(0, 0%, 100%);
  min-width: fit-content;
}
.left {
  background-image: url(./assets/images/bg-sidebar-desktop.svg);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.7rem;
  gap: 2rem;
  height: 100%;
  /* width: 100%; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
a{
  text-decoration: none;
}
.steps{
  border-radius: 50%;
  border: 1px solid hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  cursor: pointer;
}
a.active {
  background-color: hsl(206, 94%, 87%);
  border-radius: 50%;
}
a.active h3{
  color: hsl(243, 100%, 62%);

}
.left1 {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.circle h3 {
  color: hsl(0, 0%, 100%);
}
.content p {
  color: hsl(217, 100%, 97%);
}
.content span a {
  text-decoration: none;
  /* font-size: 20px; */
  color: hsl(231, 11%, 63%);
}
.content span{
  color: hsl(231, 11%, 63%);
}
.container-Right {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  width: 28vw;
}
.right-txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1.8rem;
  height: 100%;
  /* border: 1px solid red; */
}
.AddsOnbutton {
  display: flex;
  justify-content: space-between;
}
.AddsOnbutton a {
  text-decoration: none;
  color: hsl(231, 11%, 63%);
  font-weight: bolder;
}
.AddsOnbutton button {
  background-color: hsl(213, 96%, 18%);
  border-radius: 5px;
  padding: 10px;
  border: none;
}
.AddsOnbutton button a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  padding: 1rem;
}